.app-game-board {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.app-game-board__locker {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: wait;
}
